body {
    font-family: bold,Helvetica,Arial,sans-serif;
}

#top {
    margin-bottom: 0px;
}

#top a {
    color: #473f39;
}

#content {
    background-color: #473f39;
    padding: 150px 0px;
}

#event-info {
    font-size: 24px;
    padding: 0px;
}

.icon-bar {
    background-color: #333;
}

.center-img {
    display: block;
    margin: 0 auto;
}

.lead {
    text-align: center;
    color: #fff;
    padding: 20px 0px;
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #dbc29733;
}

.section {
    padding: 80px 0px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.section .container {
    width: 90%;
}

.section .lead {
    color: #333;
}

.section h2 {
    text-align: center;
}

.section h3 {
    text-align: center;
    margin-top: 40px;
}

.section table {
    overflow: auto;
}

.half-rule {
    width: 100px;
    margin: 40px auto;
}

.btn-outline {
    color: #473f39;
    background-color: transparent;
    border-color: #473f39;
}

.btn-outline:hover {
    color: #fff;
    background-color: #473f39;
}

.footer {
    background-color: #2a2730;
    color: #99979c;
    padding: 50px 0;
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-links {
    padding: 0px;
}

.footer-links li {
    display: inline-block;
    padding: 10px 10px 10px 0px;
}

#venue {
    background-image: url("usp-sao-carlos.jpeg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 20%;
    color: #fff;
    text-shadow: 1px 1px #333;
}

#venue .lead {
    color: #fff;
}

.btn-outline-inverse {
    background-color: rgba(255, 255, 255, .3);
    border-color: #473f39;
    color: #fff;
}

.btn-outline-inverse:hover {
    background-color: rgba(255, 255, 255, .8);
    border-color: #473f39;
    color: #fff;
}

#schedule table {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

#schedule th {
    text-align: center;
}

.col-md-4 .lead {
    width: 90%;
}

#sponsors ul {
    text-align: center;
    padding: 20px 0px;
}

#sponsors li {
    padding: 20px;
    vertical-align: middle;
}

#sponsors a {
    color: inherit;
}

#sponsors a:hover {
    color: inherit;
}


@media (min-width: 250px) and (max-width: 641px) {
    html, body, p, .lead {
        font-size: 13px; 
    }
    
    h1 {
        font-size: 18px; 
    }

    h2 {
        font-size: 16px;
    }

    .lead {
        width: 80%;
    }

    .section {
        padding: 40px 0px;
    }

    .half-rule {
        margin: 15px auto;
    }

    #content {
        padding: 100px 15px;
    }

    #content img {
        width: 100%;
    }

    #event-info {
        font-size: 18px;
    }

    #venue {
        background-position-y: top;
    }
}
